@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f4f4f4;
}

.navbar {
    background-color: #007bff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
    position: fixed;
    width: 100%; 
    top: 0;     
}

/* Fix for overlapping content by navbar */
body {
    padding-top: 70px; /* Adjust based on your navbar's actual height */
}


/* Parallax sections */
.parallax-section {
    position: relative; /* Needed to position the overlay correctly */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Fixed height */
    color: white;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Text Styles for Readability */
.parallax-section h1,
.parallax-section h2,
.parallax-section p {
    /* Increase font weight to make the text bolder */
    font-weight: 700; /* 700 is bold, higher numbers are bolder */
}


#welcome {
    background-image: url('images/leap.png');
}

#notsonews {
    background-image: url('images/oldNews.png');
}

/* Mission Section Specific Style */
.mission-section {
    display: flex; /* Use flexbox for layout */
    flex-direction: row; /* Align items in a row */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space between text and image */
    padding: 50px; /* Padding inside the section */
    background: none; /* No background set here */
    height: auto; /* Height adjusts to content */
}

/* Mission Header Style */
.mission-section h2 {
    grid-column: 1 / -1; /* Header spans all columns */
    justify-self: center; /* Center the header horizontally */
    position: absolute;
    top: 0;
    z-index: 3;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 10px; /* Adjust as necessary */
    padding: 5px 0; /* Adjust as necessary */
}

/* Mission Content Style */
.mission-section .mission-content {
    flex: 1; /* Allows the text container to grow */
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-right: 20px; /* Space between text and image */
}

/* Mission Image Style */
.mission-section .mission-image {
    max-width: 50%;
    max-height: 500px; /* Adjust based on your preference */
}

/* Style for responsiveness */
@media (max-width: 768px) {
    .mission-section {
        flex-direction: column;
    }

    .mission-section .mission-content,
    .mission-section .mission-image {
        max-width: 100%;
        margin-right: 0;
    }

    .mission-section h2 {
        position: static; /* Keep the header in the normal document flow */
    }
}
    

