/* ==========================================================================
   General Styles
   ========================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"); /* Import a cool font */
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* ==========================================================================
   General Styles
   ========================================================================== */
#candoit .title-line h2 {
  margin: 0;
  font-family: "Fredericka the Great", cursive; /* Change the font here */
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #f4f4f4;
}

/* Fix for overlapping content by navbar */
body {
  padding-top: 70px; /* Adjust based on your navbar's actual height */
}

.modal-content {
  color: #000000; /* Black color for the text */
  text-align: left; /* Align text to the left */
}

.modal-title {
  color: #000000; /* Black color for the title */
  text-align: left; /* Align title to the left */
}

/* Adjusting sections to prevent navbar overlap */
#welcome, #candoit, #mission, #choose, #aboutme, #contactme {
  scroll-margin-top: 80px; /* Adjust this value to match your navbar's height */
}


/* ==========================================================================
   Navbar Styles
   ========================================================================== */

.navbar {
  background-color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
}

/* ==========================================================================
   Parallax Section Styles
   ========================================================================== */

/* Parallax sections */
.parallax-section {
  position: relative; /* Needed to position the overlay correctly */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px; /* Fixed height */
  color: white;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Text Styles for Readability */
.parallax-section h1,
.parallax-section h2,
.parallax-section p {
  /* Increase font weight to make the text bolder */
  font-weight: 700; /* 700 is bold, higher numbers are bolder */
}

/* ==========================================================================
   Section 0 - Navbar Styles
   ========================================================================== */

/* ==========================================================================
   Section 1 - Welcome Styles
   ========================================================================== */

#welcome {
  background: url("../images/leap.png") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  height: 70vh; /* Full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

#welcome h1 {
  font-size: 6em; /* Larger font size for the first line */
  color: #fff; /* White color for visibility */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8); /* Text shadow for better readability */
  -webkit-text-stroke: 1px black; /* Black text stroke for better legibility */
  margin-bottom: 0.5em; /* Space between the first and second line */
}

#welcome h2 {
  font-size: 4em; /* Smaller font size for the second line */
  color: #fff;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8); /* Text shadow for better readability */
  -webkit-text-stroke: 1px black; /* Black text stroke for better legibility */
}

/* ==========================================================================
   Section 2 - CanDoIT Styles
   ========================================================================== */
#candoit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/section2-candi-bg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 70vh;
  color: #ffffff;
}
#candoit .title-line {
  background-color: rgb(24, 21, 21); /* Darker line */
  text-align: center;
  padding: 30px 0; /* Twice as big */
  margin: 0; /* Ensure no margin for the title-line to keep it flush */
}

#candoit .title-line h2 {
  margin: 0;
  font-family: "Pacifico", cursive; /* Change the font here */
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#candoit h2 {
  font-family: "Pacifico", cursive; /* Change the font here */
  font-size: 3em; /* Adjust based on your design */
  color: #060606; /* Gold color for the header to stand out */
  margin-bottom: 30px; /* Space below the header */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
}

#candoit ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0;
}

#candoit ul li {
  font-size: 1.5em; /* Adjust based on your design */
  margin-bottom: 15px; /* Space between list items */
}

#candoit a {
  color: #000000; /* Dark color for better contrast and readability */
  font-family: "Pacifico", cursive; /* Change the font here */
  font-size: 1.2em; /* Increase font size for better readability */
  line-height: 1.5; /* Adjust line height for better readability */
  text-decoration: none; /* No underline for a cleaner look */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

#candoit a:hover {
  color: #ffffff; /* Light coral color on hover for visibility and interaction feedback */
  font-size: 1.4em; /* Increase font size for better readability */
}

/* ==========================================================================
   Section 3 - Mission Styles
   ========================================================================== */

#mission.parallax-section {
  background-image: url("../images/hiai.png");
  background-size: 50%; /* Adjust this percentage to scale the size of the image */
  background-attachment: fixed; /* Maintain the parallax effect */
  background-position: right center; /* Keep the image on the right */
  background-repeat: no-repeat; /* Do not repeat the image */
  color: #000; /* Text color set to black for better visibility */
  height: auto; /* Height of the section as required */
  display: flex;
  align-items: center; /* Align items to the center of the cross axis */
  padding: 50px 20px; /* Adjust padding to suit content */
  margin: 0 auto; /* Center the section */
  justify-content: flex-start; /* Align content to the start of the container */
}

#mission .mission-content {
  width: auto; /* Let the content determine its own width */
  max-width: none; /* Remove max-width restriction */
  margin-left: 15%; /* Decrease this percentage to move the text to the left */
  margin-right: 10%; /* Keep it away from the robot image, adjust as needed */
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  white-space: nowrap; /* Add this line to prevent text from breaking */
  font-family: "Roboto", sans-serif; /* This is the base font for the body text */
}

/* Ensure that the header in the mission section is styled appropriately */
#mission h2 {
  color: #000; /* Make sure the header is visible against the background */
  font-size: 2em; /* Adjust font size as needed */
  text-shadow: none; /* Remove text shadow if it's not needed */
  /* Add any additional styling for the header here */
}

/* Reset the font weight for all text within .mission-content */
.mission-content p {
  font-weight: normal;
}

/* Style for emphasis class */
.mission-content .emphasis {
  font-weight: bold;
}

/* Style for highlight class */
.mission-content .highlight {
  font-weight: bold;
  color: #ff0000; /* Change this to the color you want */
}

/* ==========================================================================
   Section 4 - Choose Styles
   ========================================================================== */

#choose .title-line {
  background-color: gray; /* Darker line */
  text-align: center;
  padding: 30px 0; /* Twice as big */
}

#choose .title-line h2 {
  margin: 0;
  font-family: "Bungee", cursive;
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#choose .parallax {
  display: flex; /* Align the images in a row */
  flex-wrap: wrap; /* Allow the images to wrap onto the next line on small screens */
}

#choose .parallax__layer {
  flex: 1 0 33.33%;
  height: 0;
  padding-bottom: 33.33%;
  position: relative;
}

#choose .parallax__layer--back {
  background: url("../images/c1.jpeg") no-repeat center center / cover;
}

#choose .parallax__layer--middle {
  background: url("../images/c2.png") no-repeat center center / cover;
}

#choose .parallax__layer--front {
  background: url("../images/c3.png") no-repeat center center / cover;
}

#choose .card-container {
  position: relative;
  z-index: 1;
}

#choose .parallax__layer .content {
  position: absolute;
  bottom: 0; /* Position the content at the bottom of the layer */
  left: 0;
  width: 100%; /* Full width of the layer */
  padding: 20px; /* Some padding to prevent the content from touching the edges */
  text-align: center;
  color: #fff;
}

#choose .parallax__layer .cta {
  background-color: rgba(128, 128, 128, 0.7);
  color: white;
  border: 2px solid #eee; /* Lighter border color */
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Animate border color */
  display: inline-block;
  margin-top: 20px;
  font-size: 1.4em;
  font-family: "Bungee", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#choose .parallax__layer .cta:hover {
  background-color: rgba(105, 105, 105, 0.7);
  border-color: #ccc; /* Lighter border color on hover */
}

/* ==========================================================================
   Section 5 - AboutMe Styles
   ========================================================================== */

/* About Me Section Styles */
#aboutme {
  background: url("../images/myAvatar.png") no-repeat center center fixed;
  background-size: cover;
  padding: 100px 0; /* Adjust top and bottom padding as needed */
  position: relative;
  z-index: 1;
}

/* Header Styles */
#aboutme .container h2 {
  font-size: 2.5em; /* Adjust font size for the header */
  color: #fff; /* White color for visibility */
  text-align: left; /* Align header text to the left */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
  margin-top: 0; /* Align header with the start of the content */
}

/* Text Styles for About Me content */
.about-me-content {
  position: relative;
  z-index: 2; /* Ensures content is above the background */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.2));
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: left; /* Align text to the left */
  margin: 0 auto; /* Centering content */
  max-width: 1200px; /* Adjusted max-width for wider content area */
}

/* Style paragraphs for better readability */
.about-me-content p {
  font-size: 1.1em;
  line-height: 1.6;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 768px) {
  /* ==========================================================================
         General Styles
         ========================================================================== */

  /* ==========================================================================
         Navbar Styles
         ========================================================================== */

  /* ==========================================================================
         Parallax Section Styles
         ========================================================================== */
  .parallax-section {
    height: 500px; /* Adjust height for mobile devices */
    background-attachment: scroll; /* Change background attachment for mobile compatibility */
  }

  /* ==========================================================================
         Welcome Section Styles
         ========================================================================== */
  /* Mobile styles for welcome section */
  #welcome h1 {
    font-size: 5 vw; /* Adjust font size for mobile */
  }

  #welcome h2 {
    font-size: 4vw; /* Adjust font size for mobile */
  }

  /* ==========================================================================
         Old News Section Styles
         ========================================================================== */

  #oldnews .container {
    text-align: left;
  }
  #oldnews h2,
  #oldnews ul {
    color: #fff; /* Example to improve readability */
    background-color: rgba(0, 0, 0, 0.5); /* Example to improve readability */
    border-radius: 5px; /* Example to style the text background */
    font-size: 0.6em; /* Make the text 3 times bigger */
    -webkit-text-stroke: 0px #fff; /* Add a white border to the text */
    text-shadow: -0px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; /* Add a white shadow around the text */
  }

  /* ==========================================================================
         Mission Section Styles
         ========================================================================== */

  #mission.parallax-section {
    background-size: contain; /* Or use a specific pixel value if 'contain' doesn't give the desired result */
    background-attachment: scroll; /* 'fixed' is not supported on all mobile browsers, use 'scroll' */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    /* Adjust other styles as needed */
    height: auto; /* Adjust height for mobile devices */
    padding: 25px 10px;
  }

  /* ==========================================================================
         Choose Section Styles
         ========================================================================== */

  #choose .parallax__layer {
    flex: 1 0 100%; /* Make the images take up the full row on small screens */
    padding-bottom: 100%; /* Maintain aspect ratio */
  }

  /* ==========================================================================
         AboutMe Section Styles
         ========================================================================== */

  #aboutme {
    background-attachment: scroll; /* Disable parallax effect for better performance on mobile */
    padding: 50px 0;
  }

  .about-me-content {
    padding: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  }
}
